ul > li{
    display: inline-block;
}

a {
    text-decoration: none;
    color: purple;
    font-variant: small-caps;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    border: purple;
    border: 2px;
    background-color: lightblue;

}

a:hover {
    background-color: white;
}